html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}



/*
 * Styles for the deck of cards
 */

.deck {
    width: 42vw;
    height: 42vw;
    padding: 1.4vw;
    border-radius: 0.6vw;
    box-shadow: 0.6vw 0.75vw 1vw 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 3em;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.deck .card {
    height: 23%;
    width: 23%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.25vw 2px 1vw 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 2vw;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 2vw;
}

.deck .card.alert {
    cursor: default;
    background: #ff2011;
    font-size: 2vw;
}

/*
 * Styles for the Score Panel
 */


.score-panel {
    flex-wrap: wrap-reverse;
    width: 25vw;
    margin-bottom: 1vw;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 0 0 10%;
}

.score-panel .stars li {
    list-style: none;
    display: inline;
}

.score-panel .move-text {
    margin: 0 0 0 10%;
    display: inline-block
}

.score-panel .restart {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 10%;
}


.score-panel .clock {
    margin: auto;
    display: inline-block;
    margin: 0 0 0 10%;
}